<div class="row">
  <div class="span7">
    <h1>Ultimas Peliculas</h1>
  </div>
  <div class="span5">
    <div class="pagination-right">
      <%= will_paginate @reviews, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="span8">
    <p>

    </p>
  </div>
</div>

<ul class="thumbnails">
  <% @reviews.each do |review| %>
      <li class="span3">
        <div class="thumbnail">
          <a href="/inicios/ver/<%= review.id %>"><%= image_tag review.rimage_url(:thumb).to_s %></a>
          <div class="caption" style="margin-left: 0px; padding-left: 0px;">
            <a href="#" id="popover" style="vertical-align: bottom;" data-toggle="popover" data-placement="top" class="btn btn-small btn-primary" title="<i class='icon-film'></i> <b><%= review.titulo %></b>" data-content="<b>Año:</b> 2012 <br> Idioma: Español"><%= review.id %>. <i class="icon-th-large icon-white"></i></a>
            <span style="font-size: 18px;"> <a href="/inicios/ver/<%= review.id %>"><%= review.titulo %></a></span>
          </div>
        </div>
      </li>
  <% end %>
</ul>


<div class="pagination-right">
  <%= will_paginate @reviews, :renderer => BootstrapPagination::Rails %>
</div>
<script>
    $(function ()
    { $("#popover").popover();
    });
</script>

