<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><% if !params[:search].nil? %>Search: <%= params[:search] %> <% else %>Principal<% end %></li>
</ul>

<div class="row">
  <div class="span7">
    <h2>Ultimos Estrenos <small> de Peliculas</small></h2>
  </div>
  <div class="span5">
    <div class="pagination-right">
      <%= will_paginate @reviews, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<hr>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>WikiEstrenos!</strong> Todas las peliculas son 100% gratis, mirar los colores para ver si estan activas hay veces las borran.
</div>

<div class="row">
  <div class="span8">
    <p>

    </p>
  </div>
</div>

<ul class="thumbnails">
  <% @reviews.each do |review| %>
      <li class="span3">
        <div class="thumbnail">
          <a href="/inicios/ver/<%= review.id %>"><%= image_tag review.rimage_url(:thumb).to_s %></a>
          <div class="caption" style="margin-left: 0px; padding-left: 0px;">
            <a href="#" id="popover" style="vertical-align: bottom;" data-toggle="popover" data-placement="top" class="btn btn-small btn-primary" title="<i class='icon-film'></i> <b><%= review.titulo %></b>"
               data-content="
               <b>Fecha Estreno:</b> <%= review.fecha %><br>
               <b>Idioma:</b> <%= review.idioma %><br>
               <b>Duracion</b> <%= review.duracion.strftime("%H:%M") %><br>
               <b>Calidad</b> <%= review.calidad %><br>
               <b>Genero</b> <%= review.genero_id %><br>
               <b>Resumen :</b> <br><%= review.resumen %>
               "><%= review.id %>. <i class="icon-comment icon-white"></i></a>
            <span style="font-size: 18px;"> <a href="/inicios/ver/<%= review.id %>"><%= review.titulo[0,20] %></a></span>
          </div>
        </div>
      </li>
  <% end %>
</ul>


<div class="pagination-right">
  <%= will_paginate @reviews, :renderer => BootstrapPagination::Rails %>
</div>
<script>
    $(function ()
    { $("#popover").popover();
    });
</script>