<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= @review.titulo %></li>
</ul>

<div class="page-header">
  <h2><%= @review.titulo %></h2>
</div>


<p><b>Fecha Estreno :</b> <%= @review.fecha %></p>
<p><b>Duracion :</b> <%= @review.duracion %></p>
<p><b>Idioma :</b> <%= @review.idioma %></p>
<p><b>Calidad :</b> <%= @review.calidad %></p>
<p><b>Resumen:</b> <%= @review.resumen %></p>
<p><%= image_tag @review.rimage_url(:real).to_s %></p>
<p><b>Contenido:</b> <%= raw(@review.contenido) %></p>


